<!DOCTYPE html>
<html>
<head>
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600|Special+Elite" rel="stylesheet" />
  <link href="https://datocms-middleman-example.netlify.com/stylesheets/site.css" rel="stylesheet" />
  <title>Dundler Mifflin</title>
</head>
<body>

<header class="main-navigation">
  <a href="/" class="main-navigation__item">Home</a>
  <a href="/character/" class="main-navigation__item">Characters</a>
  <a href="/season/" class="main-navigation__item">Seasons</a>
  <a href="/episode/" class="main-navigation__item">Episodes</a>
</header>

<div class="header">
  <div class="wrap">
    {{ if eq $.URL "/" }}
      <div class="header__inner header__inner--internal">
    {{ else }}
      <div class="header__inner">
    {{ end }}
      <div class="header__content">
        <h1 class="header__title">
          {{ .Site.Data.home.sitename }}
        </h1>
        <p class="header__tagline">
        {{ .Site.Data.home.tagline }}
        </p>
      </div>
    </div>
  </div>
</div>
